lombok.log.fieldName=logger

# Only @Slf4j and the *ArgsConstructor annotations are permitted.
lombok.builder.flagUsage=ERROR
lombok.cleanup.flagUsage=ERROR
lombok.data.flagUsage=ERROR
lombok.equalsAndHashCode.flagUsage=ERROR
lombok.experimental.flagUsage=ERROR
lombok.getter.flagUsage=ERROR
lombok.log.apacheCommons.flagUsage=ERROR
lombok.log.custom.flagUsage=ERROR
lombok.log.flogger.flagUsage=ERROR
lombok.log.javaUtilLogging.flagUsage=ERROR
lombok.log.jbosslog.flagUsage=ERROR
lombok.log.log4j.flagUsage=ERROR
lombok.log.log4j2.flagUsage=ERROR
lombok.log.xslf4j.flagUsage=ERROR
lombok.nonNull.flagUsage=ERROR
lombok.setter.flagUsage=ERROR
lombok.sneakyThrows.flagUsage=ERROR
lombok.synchronized.flagUsage=ERROR
lombok.toString.flagUsage=ERROR
lombok.val.flagUsage=ERROR
lombok.value.flagUsage=ERROR
lombok.var.flagUsage=ERROR
lombok.with.flagUsage=ERROR
